{% extends 'base.html' %}

{% load widget_tweaks %}

{% block conteudo %}
<body>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h2><i class="fa fa-list"> Listagem de autores</i></h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Autor</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for u in autores %}
                        <tr>
                            <td>{{ u.id }}</td>
                            <td>{{ u.autor }}</td>
                            <td>
                                <a href="#">
                                    <i class="fa fa-search" aria-hidden="true" style="color: blue;"></i>
                                </a>
                                <a href="{% url 'autores:editar_autor' u.id %}">
                                    <i class="fa fa-pencil-square" aria-hidden="true" style="color: #6B8E23;"></i>
                                </a>
                                <a href="{% url 'autores:excluir_autor' u.id %}">
                                    <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 card mb-3">
        <div class="card-header">
            <a href="{% url 'autores:inserir_autor' %}"><button class="btn btn-success">Cadastrar</button></a>
        </div>
    </div>
</body>
{% endblock conteudo %}