<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sistema de Biblioteca</title>
</head>
<body>

    <h1>Biblioteca do Povão</h1>

    <h2>Cadastrar Livro</h2>
    <form method="post">
        {% csrf_token %}
        <label>Título:</label><br>
        <input type="text" name="titulo"><br><br>

        <label>Autor:</label><br>
        <input type="text" name="autor"><br><br>

        <label>Ano:</label><br>
        <input type="number" name="ano"><br><br>

        <label>Editora:</label><br>
        <input type="text" name="editora"><br><br>

        <button type="submit">Salvar</button>
    </form>

    <hr>

    <h2>Lista de Livros</h2>

    {% if livros %}
        <table border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Edição</th>
                <th>Editora</th>
            </tr>

            {% for livro in livros %}
            <tr>
                <td>{{ livro.id }}</td>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor }}</td>
                <td>{{ livro.ano_publicacao }}</td>
                <td>{{ livro.genero }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nenhum livro cadastrado.</p>
    {% endif %}

</body>
</html>
