{% extends 'base.html' %}

{% load widget_tweaks %}

{% block conteudo %}
<body>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h2><i class="fa fa-list"> Listagem de editoras</i></h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Editora</th>
                            <th>Telefone</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for e in editoras %}
                        <tr>
                            <td>{{ e.id }}</td>
                            <td>{{ e.editora }}</td>
                            <td>{{ e.telefone }}</td>
                            <td>
                                <a href="#">
                                    <i class="fa fa-search" aria-hidden="true" style="color: blue;"></i>
                                </a>
                                <a href="{% url 'editoras:editar_editora' e.id %}">
                                    <i class="fa fa-pencil-square" aria-hidden="true" style="color: #6B8E23;"></i>
                                </a>
                                <a href="{% url 'editoras:excluir_editora' e.id %}">
                                    <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 card mb-3">
        <div class="card-header">
            <a href="{% url 'editoras:inserir_editora' %}"><button class="btn btn-success">Cadastrar</button></a>
        </div>
    </div>
</body>
{% endblock conteudo %}